
<h1>About us</h1>
<h2>We are an online store that sells high quality bikes everywhere</h2>

<div class="container-fluid" id="about">
  <div class="row">
    <div class="col-sm">
      <%= image_tag("bike4.jpg", class:"img-responsive image") %>
    </div>
    <div class="col-sm">
      <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Velit aliquet sagittis id consectetur purus. A erat nam at lectus urna duis. Euismod lacinia at quis risus. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Gravida cum sociis natoque penatibus et magnis dis. Cursus eget nunc scelerisque viverra. Et ligula ullamcorper malesuada proin. Egestas sed tempus urna et. Vulputate enim nulla aliquet porttitor lacus luctus. Etiam erat velit scelerisque in dictum. Orci phasellus egestas tellus rutrum tellus. Orci sagittis eu volutpat odio facilisis mauris. Aliquet nec ullamcorper sit amet. Scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et. Sed elementum tempus egestas sed sed. Eget nunc lobortis mattis aliquam faucibus purus in massa. Turpis egestas sed tempus urna et.</h6>
      <h6>Massa tempor nec feugiat nisl pretium fusce. Amet consectetur adipiscing elit duis tristique. Viverra nibh cras pulvinar mattis. Elit pellentesque habitant morbi tristique. Nisl purus in mollis nunc sed id semper risus. Feugiat pretium nibh ipsum consequat nisl vel pretium. Nulla facilisi etiam dignissim diam quis enim lobortis. Mi in nulla posuere sollicitudin aliquam. Ullamcorper morbi tincidunt ornare massa eget egestas purus viverra. In nisl nisi scelerisque eu ultrices vitae auctor. Malesuada fames ac turpis egestas maecenas pharetra convallis posuere. Sapien faucibus et molestie ac. Eget egestas purus viverra accumsan in nisl nisi scelerisque. Tristique et egestas quis ipsum suspendisse ultrices gravida.</h6>
    </div>
  </div>
</div>



