<h1>How to contact us</h1><br>
<p class="motto">Only high quality bikes are sold.</p><br>

<p class="contact-text">You can reach us at the following contact details. We will be happy to answer all of your questions.</p><br>

<p class="address">Address goes here.</p>
<p class="address">Phone number goes here.</p>
<p class="address">Email goes here.</p>

<p class="contact-text">Or you can use the below contact form in order to send us an e-mail.</p><br>


<form id="contact-form">
    <label for="text">Name*</label>
    <input type="text" name="text" id="text" class="form-control" placeholder="Enter your name." title="e.g. John Smith" required>
    <br>
    <label for="phone">Phone number</label>
    <input type="phone" name="phone" id="phone" class="form-control" placeholder="Enter your phone number" title="Your phone number">
    <br>
    <label for="email">E-mail address*</label>
    <input type="email" name="email" id="email" class="form-control" placeholder="Enter your e-mail." title="e.g. example@domain.com" required>
    <br>
    <label for="message-box">Message*</label>
    <textarea style="resize:none" name="message-box" id="message-box" cols="50" rows="10" class="message-box" placeholder="Your message here." required></textarea>
    <br>
    <button type="button" class="btn btn-success" id="button">Submit</button>
</form>


