//Index //
//* {border:2px solid red}//

.oder-id {
    font-size:2em;
    color:black;
    padding-left:0;
    text-align:left;
}

.order {
    margin-top:-26px;
    padding-right:71px;
    font-size:1.5em;
    float:right;
}

.price {
    font-size:1.5em;
    text-align:center;
}

//Show //

.container-order {
    text-align:center;
    margin-top:50px;
}

.order-title {
    font-size:2.5rem;
    margin-bottom:50px;
}

.order-info {
    font-size:2em;
    display:flow-root;
    padding-top:20px;
    padding-bottom:20px;
}