//Index //
//* {border:2px solid red}//

.oder-id {
    font-size:2em;
    color:black;
    padding-left:0;
    text-align:left;
}

.order {
    margin-top:-26px;
    padding-right:71px;
    font-size:1.5em;
    float:right;
}

.price {
    font-size:1.5em;
    text-align:center;
    margin-top:25px;
}

#order-details{
    margin-bottom:50px;
}

//Show //

.container-order {
    text-align:center;
    margin-top:50px;
}

.order-title {
    font-size:2.5rem;
    margin-bottom:50px;
    margin-top:80px;
}

#order-img{
    width:50%;
}

.order-info {
    font-size:2em;
    display:flow-root;
    padding-top:20px;
    padding-bottom:20px;
}

.btn-order{
    margin-bottom:100px;
}