//* {border:1px solid red}//

#products-list{
    width:80%;
    padding:0;
    margin-top:40px;
}

#product-order{
    margin-top:70px;
    width:100%
}

#product-description{
    margin-top:100px;
    padding-left:40px;
}

#product-details{
    border:2px solid black;
    border-radius:30px;
    margin:10px;
}


.col-sm {
    padding-top:50px;
}

.col-12 {
    margin-top:30px;
}

h3 {
    padding-top:15px;
    font-size:2em;
    font-family:Niramit, TimesNewRoman, serif;
    text-align:center;
}

p {
    font-family:Niramit, TimesNewRoman, serif;
    font-size:1.5em;
    text-align:center;
}

.rated {
    text-align:center;
    adding-top:20px;
    padding-bottom:10px;
}

.rated > img {
    width:3%;
}

h4 {
    text-align:center;
    margin-top:60px;
    margin-bottom:60px;
    font-weight:bold;
    font-family:Niramit, TimesNewRoman, serif;
    font-size:2em;
}

#comments-box{
    border:1px solid black;
    border-radius:30px;
    width:70%;
    height:150px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.rating {
    text-align:center;
    margin-top:20px;
}

.rating > img {
    width:2%;
}

.container-reviews {
    text-align:center;
}

#reviews{
    margin:auto;
    padding-top:40px;
    padding-bottom:40px;
    display:inline-grid;
}

.reviews{
    font-size:25px;
    padding-top:20px;
    padding-bottom:10px;
}


.saved > img {
    width:15%;
}

 a>.btn destroy {
    font-size:2em;
}

.pagination {
    text-align:center;
    display:flow-root;
    width:100%;
    margin-bottom:50px;
}

.container-editing-links {
    padding-top:0;
    padding-bottom:80px;
    padding-right:10px;
}

//New Product//

.container-new-product {
    text-align:center;
    margin-top:40px;
}
