


.col-sm {
    padding-top:50px;
}

.col-12 {
    margin-top:30px;
}

h3 {
    padding-top:15px;
    font-size:2em;
    font-family:Niramit, TimesNewRoman, serif;
    text-align:center;
}

p {
    font-family:Niramit, TimesNewRoman, serif;
    font-size:1.5em;
    text-align:center;
}

.rated {
    text-align:center;
}

.rated > img {
    width:3%;
}

h4 {
    text-align:center;
    margin-top:60px;
    margin-bottom:60px;
    font-weight:bold;
    font-family:Niramit, TimesNewRoman, serif;
    font-size:2em;
}

.rating {
    text-align:center;
}

.rating > img {
    width:2%;
}

.container-reviews {
    text-align:center;
}

.row-reviews {
    display:inline-block;
}

.saved > img {
    width:8%;
}

 a>.btn destroy {
    font-size:2em;
}

.pagination {
    text-align:center;
    display:flow-root;
    width:100%;
    margin-bottom:50px;
}

.container-editing-links {
    padding-top:0;
    padding-bottom:80px;
    padding-right:10px;
}

//New Product//

.container-new-product {
    text-align:center;
    margin-top:40px;
}



