//General CSS//

body {
    background-color:#eaeaea;
}


.navbar-brand {
    font-family:Niramit, TimesNewRoman, serif;
    color:white !important;
    font-weight:bold;
    font-size:25px;
}

.nav-item {
    font-family:Niramit, TimesNewRoman, serif;
    color:white;
    font-weight:bold;
    font-size:20px;
    text-decoration: none;
}

.nav-item :hover {
    color:white;
    text-decoration:none;
}

a {
    color:white;
    padding-left:15px;
}

h1 {
    font-family:Niramit, TimesNewRoman, serif;
    color:blue;
    text-align:center;
    padding-top:50px
}

h2 {
    font-family:Niramit, TimesNewRoman, serif;
    font-size:20px;
    color:black;
    text-align:center;
}

.row {
    margin-left:0;
    margin-right:0;
}

.image {
    width: 100%;
    vertical-align:middle;
    padding-left:20px;
    padding-top:30px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgrey;
    color: black;
    text-align: center;
    font-family:Niramit, TimesNewRoman, serif;
    font-weight:bold;
    font-size:15px;
}

//Page specific CSS//

//Featured Products page//

img {
    width:100%;
}

.container {
    padding-top:50px;
}


//Contact page//

.motto {
    text-align:center;
    font-family:Niramit, TimesNewRoman, serif;
    font-size:2em;
    font-style:italic;
    margin-top:40px;
}

.contact-text {
    text-align:left;
    font-family:Niramit, TimesNewRoman, serif;
    font-size:1.5em;
    margin-top:40px;
}

.address {
    text-align:left;
    font-family:Niramit,TimesNewRoman, serif;
    font-size:1.5em;
    font-weight:600;
}
.form-control {
    width:100%;
}

.message-box {
    width:100%;
    font-size:1rem;
}

label {
    font-family:Niramit, TimesNewRoman, serif;
    font-size:1.5em;
    font-weight:600;
}

