// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login {
    margin-top:100px;
    padding-top:50px;
    font-size:30px;
    text-align:center;
}

.container-signin{
    border:2px solid black;
    border-radius:30px;
    width:70%;
    margin:auto;
    margin-top:50px;
    padding-top:20px;
}

form#new_user {
    text-align:center;
    //margin-top:60px;//
}

.box {
    border-width:thick;
    border:2px solid black;
    border-radius:25px;
}

.form-inline {
    display:inline-flex;
}

#user_remember_me{
    margin-right:10px;
}

#btn-signin{
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
}

.link {
    text-align:center;
    display:block;
    font-size:1.5em;
}