<h1>New Product</h1>

<div class="container-new-product">
<%= render 'form', product: @product %>
</div>

<div class="container-editing-links">
<%= link_to 'Back', products_path, class: "btn btn-outline-dark btn-sm" %>
</div>
